<div class="box-body chat" id="chat-box" style="overflow: auto; width: auto; height: 250px">
   <div class="item">
      <img ng-src="{{resource.sender.profileImg}}" alt="user image" class="online">
      <p class="message">
         <a href="#" class="name">
            <small class="text-mute pullright"><i class="fa fa-clock-o"></i> {{resource.date | date: "MMM d, y h:mm a" }}</small><br>
            {{resource.sender.name}}
         </a>
         {{resource.subject}}
      </p>
      <div class="attachment">
         <h4>Attachment files</h4>
         <p class="filename" ng-repeat="file in resource.files">
            <a href="/public/resources/{{file}}" download="{{file}}" target="_self">{{file}}</a>
         </p>
      </div>
   </div>
</div>