<div class="table-responsive">
   <table class="table table-mailbox">
      <tr ng-show="!sent.length">
         <td>There is no resource sent.</td>
      </tr>
      <tr ng-repeat="resource in sent track by $index" class="unread" ui-sref="app.resources.detail({id_resource: '{{resource._id.toString()}}'})" style="cursor:pointer">
         <td class="small-col">
            <input type="checkbox">
         </td>
         <td class="small-col">
            <i class="fa fa-star"></i>
         </td>
         <td class="name">{{resource.sender.name}}</td>
         <td class="subject">{{resource.subject}}</td>
         <td style="color: rgba(80,80,80,.25); font-style:oblique"><small>{{resource.date | date: "MMM/d/yy h:mm a" }}</small></td>
      </tr>
   </table>
</div>