<div class="col-xs-12">
   <div class="box box-solid">
      <div class="box-body">
         <div class="row">
            <div class="col-md-3 col-sm-4">
               <div class="box-header">
                  <i class="fa fa-inbox"></i>
                  <h3 class="box-tittle">Chat</h3>
               </div>
               <div style="margin-top: 15px">
                  <ul class="nav nav-pills nav-stacked" style="overflow: auto; height: 300px">
                     <li class="header">Team</li>

                     <li>
                        <a href="#">
                           <i class="fa fa-group zz"></i>General
                        </a>
                     </li>

                     <li>
                        <a href="#">
                           <i class="fa fa-circle text-success"></i>Anthony Garza
                        </a>
                     </li>

                     <li>
                        <a href="#">
                           <i class="fa fa-circle text-success"></i>George Stackfield
                        </a>
                     </li>
                  </ul>
               </div>
            </div>

            <div class="col-md-9 col-sm-8 ng-scope" ui-view>
               <div class="callout callout-info">
                  <h4>Welcome to the Team Chat</h4>
                  <p>Select to the left someone you want to chat.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>