<div class="row">
   <div class="col-md-12">
      <ul class="timeline">
         <li class="time-label">
            <span class="bg-red">{{today | date: 'dd MMM yyyy'}}</span>
         </li>

         <li ng-repeat="item in timeline">
            <i class="fa bg-blue" ng-class="{'fa-check': item.type == task, 'fa-evelope': item.type == resource}"></i>
            <div class="timeline-item" ng-show="item.type : task" ng-hide="item.type.task.length">
               <h3 class="timeline-header">
                  <a href="javascript:void(0);">{{item.user.name}}</a>
                  {{item.action}}
               </h3>
               <div class="timeline-body">
                  {{item.description}}
               </div>
            </div>

            <div class="timeline-item" ng-show="item.type : resource" ng-hide="item.type.resource.length">
               <h3 class="timeline-header">
                  <a href="javascript:void(0)">
                     {{item.resource.sender.name}}
                  </a>
                  {{item.action}} with {{item.resource.receivers.join(',')}}
               </h3>
               <div class="timeline-body">
                  {{item.description}}
               </div>
            </div>
         </li>
      </ul>
   </div>
</div>